[submodule "submodules/crossguid"]
	path = submodules/crossguid
	url = https://github.com/graeme-hill/crossguid.git
[submodule "submodules/spdlog"]
	path = submodules/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "submodules/cryptopp"]
	path = submodules/cryptopp
	url = https://github.com/weidai11/cryptopp.git
[submodule "submodules/cryptopp-cmake"]
	path = submodules/cryptopp-cmake
	url = https://github.com/noloader/cryptopp-cmake.git
